:root{
    --dark-main-color: #1f2937;
    --light-main-color: #f9faf8;
    --light-secondary-color: #e5e7eb;
    --button-cta-color: #3882f6;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    color: var(--light-main-color);
    height: 100vh;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 20px;

}

a{
    text-decoration: none;
    color: var(--light-secondary-color);
}

button{
    background-color: var(--button-cta-color);
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 35px;
    text-align: center;
    margin: 12px 0;
    font-size: 1em;
}


.hero-section{
    background-color: var(--dark-main-color);
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    margin: 1em 2em;
}

.header-logo{
    font-size: 24px;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    align-items: center;
    gap: 150px;
    margin: 2em;
}

.left-hero{
    width: 50%;
    flex: 1 0 0;
    margin-bottom: 20px;
}


.hero-title{
    font-family: 'Roboto-extra-bold', sans-serif;
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.hero-text{
    color: var(--light-secondary-color);
    font-size: 18px;
    margin: 12px 0;
}


.img-placeholder{
    width: 500px;
    height: 200px;
    background-color: gray;
    color: white;
}

.img-placeholder p{
    padding: 90px;
    text-align: center;
}